<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.classic.file.choose">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application>
        <activity
            android:name="com.classic.file.choose.FileChooseActivity"
            android:theme="@style/FileChooseTheme" />
    </application>

</manifest>
